/*HEADER */

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 6.5em;
  width: 100%;
  background-color: rgba(40, 35, 25, 0.9);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo-link {
  height: 100%;
}

header .hiltieskilstuna {
  height: 100%;
  position: relative;
  left: 0;
}

.hiltieskilstuna {
  opacity: 100%;
  display: inline-block;
  width: auto;
}

.hiltieskilstuna:hover {
  opacity: 60%;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

#header-nav {
  display: inline-block;
  height: 100%;
  width: calc(100% - 20em);
}

#header-nav-smallscreen {
  display: none;
  position: absolute;
  right: 0;
  top: 6.5em;
  z-index: 5;
  overflow: hidden;
  background-color: rgb(56, 52, 43);
}

header .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: show;
}

#header-nav-smallscreen .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: show;
  transition: all 1s ease;
}

header .nav-list li {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  margin: 0;
  border-radius: 4px;
}

header .nav-list li:hover {
  transition: all 0.2s ease-in;
}

header .nav-list a {
  height: 100%;
  font-size: calc(1em + 1vw);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: rgba(253, 163, 59, 0.7);
  font-weight: 800;
  letter-spacing: 0.1em;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.nav-list a:hover {
  color: rgba(253, 163, 59, 1);
  text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black,
    0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black,
    0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black,
    0 0 6px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black;
  transition: all 0.1s ease-in;
}

.menu-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  width: 50px;
  height: 6px;
  background: rgb(236, 152, 57);
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: rgb(236, 152, 57);
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-16px);
}

.menu-btn_burger::after {
  transform: translateY(16px);
}

/*menu animation*/

.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*MAIN*/

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  height: 10vw;
  max-height: 6.6em;
  width: 100%;
  background-color: rgba(40, 35, 25, 0.9);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

footer .hiltieskilstuna {
  height: 95%;
}

footer nav {
  display: table;
}

footer .nav-list {
  height: 100%;
  display: table-cell;
  list-style: none;
  vertical-align: middle;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  line-height: 0.8;
}

footer .nav-list li {
  height: fit-content;
  line-height: 1;
}

footer .nav-list a {
  text-decoration: none;
  font-size: calc(0.2em + 0.7vw);
  color: rgba(253, 163, 59, 0.7);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-shadow: 0 0 4px black, 0 0 4px black;
}

footer div#contactinfo {
  display: flex;
  padding-right: 5px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer div#socialicons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

footer div#address {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: rgb(236, 152, 57);
  font-size: calc(0.4em + 0.5vw);
}

footer i {
  font-size: calc(1em + 0.5vw);
  color: rgb(236, 152, 57);
  margin: 3px;
}

footer i:hover {
  color: rgba(253, 163, 59, 1);
  text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black,
    0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black,
    0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black,
    0 0 6px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black;
  transition: all 0.1s ease-in;
}

@media only screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  .menu-btn {
    display: flex;
    position: relative;
  }

  #header-nav {
    display: none;
  }

  #header-nav-smallscreen {
    display: inline-block;
    width: 0;
    transition: width 0.5s ease-in-out;
  }

  nav.open {
    width: 200px !important;
  }

  footer {
    height: 75px;
  }
}

@keyframes headerdrop {
  from {
    transform: translatey(-100%);
    overflow: hidden;
  }
  to {
    transform: translatey(0%);
    overflow: visible;
  }
}

@keyframes footerraise {
  from {
    transform: translatey(100%);
    overflow: hidden;
  }
  to {
    transform: translatey(0%);
    overflow: visible;
  }
}

@keyframes navelement {
  0% {
    scale: 0%;
    rotate: 0deg;
  }

  70% {
    scale: 0%;
    rotate: 15deg;
  }
  90% {
    scale: 110%;
    rotate: -3deg;
  }

  100% {
    scale: 100%;
    rotate: 0deg;
  }
}

@keyframes bodyoverflow {
  0% {
    overflow-y: hidden;
  }

  99% {
    overflow-y: hidden;
  }

  100% {
    overflow-y: auto;
  }
}

body {
  animation: bodyoverflow 1500ms;
}

header {
  animation: headerdrop 1000ms;
}

footer {
  animation: footerraise 1000ms;
}

.hiltieskilstuna,
.nav-list li,
#contactinfo {
  animation: navelement 1200ms;
}
