
/*MAIN*/

main {
  font-family: 'Montserrat', sans-serif;
  color: rgba(40, 35, 25, 1);

}

main h1 {
  display: inline-block;
  margin: .5em;
  color: rgba(40, 35, 25, .9);
}

div.content {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.registration {
  font-weight: 600;
  display: inline-block;
  max-width: 90vw;
  
}

.registration a {
  text-decoration: none;
  color: rgba(40, 35, 25, .9);
  font-weight: 800;
}

.registration a:hover {
  background-color: rgba(40, 35, 25, .9);
  color: rgba(253,163,59, 1);
  transition: all 200ms ease-in;
}

.container {
  width: 95%;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.schema-wrapper {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  flex: .4 1 550px;
  height: fit-content
}

.schema-wrapper ul {
  list-style: none;
}

.schema-wrapper, .registration {
  
  background-color: rgba(253,163,59, 1);
  box-shadow: 0 2px 5px rgba(25, 25, 25, .7);
  color: rgba(40, 35, 25, .9);
  
}

.info .title {
  margin: 10px;
  
}

.info p, .registration p {
  line-height: 1.4em;
  margin: 10px;
}

.container img {
  flex: .7 1 600x;
  max-width: 600px;
  margin: 5px;
  box-shadow: 0 2px 5px rgba(25, 25, 25, .7);

  
}

@media only screen and (max-width: 850px) {
  .container img {

    max-width: 80vw;
  }

  
}